{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}
    <h1>Arbitre</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ arbitre.id }}</td>
            </tr>
            <tr>
                <th>Licence</th>
                <td>{{ arbitre.licence }}</td>
            </tr>
            <tr>
                <th>Licencestatus</th>
                <td>{% if arbitre.licenceStatus %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ arbitre.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ arbitre.lastName }}</td>
            </tr>
            <tr>
                <th>Gsm</th>
                <td>{{ arbitre.gsm }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ arbitre.sex }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if arbitre.birthday %}{{ arbitre.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ arbitre.email }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ arbitre.weight }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ arbitre.height }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('arbitre_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('arbitre_edit', { 'id': arbitre.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
